
/*MENU HAMBURUESA*/

.menu-collapse {
  background-color: ghostwhite;
  padding: 1.5rem;
}

.menu-collapse h5 {
  color: rgb(230, 140, 218);
  font-weight: bold;
  text-align: center;
}

.nav-link {
  color: rgb(230, 140, 218) !important;
}

#navbarToggleExternalContent {
  position: absolute;
  top: 56px; /* altura del navbar */
  width: 100%;
  z-index: 1000;
}